.DS_Store
code/__pycache__/QRNN.cpython-311.pyc
code/__pycache__/ReuploadingBlock.cpython-311.pyc
code/__pycache__/QRNN_new.cpython-311.pyc
code/__pycache__/quantum_layer.cpython-311.pyc
code/__pycache__/quantum_layerv2.cpython-311.pyc
code/__pycache__/ReuploadingBlock_new.cpython-311.pyc
code/__pycache__/quantum_layerv3.cpython-311.pyc
